<aside class="sidebar" [class.minimized]="isMinimized">
  <!-- Tombol Minimize -->
  <button class="minimize-btn" (click)="toggleMinimize()">
    <i class="fa-solid" [class.fa-arrow-left]="!isMinimized" [class.fa-arrow-right]="isMinimized"></i>
  </button>

  <!-- Sidebar Header -->
  <div class="sidebar-header" *ngIf="!isMinimized">
    SIMPEL Menu
  </div>

  <!-- Sidebar Navigation -->
  <ul class="nav-list sidebar-nav">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link">
        <i class="fa-solid fa-gauge-high"></i>
        <span *ngIf="!isMinimized">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/maps" class="nav-link">
        <i class="fa-solid fa-map"></i>
        <span *ngIf="!isMinimized">Maps</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" class="nav-link">
        <i class="fa-solid fa-gear"></i>
        <span *ngIf="!isMinimized">Setting</span>
      </a>
    </li>
  </ul>
</aside>
